@font-face {
font-family: game-font;
src: url(../font/zorque.otf);
}

body {
font-family: game-font;
background-image: url('../image/bg-1.jpg');
}

.container {
text-align: center;
margin: 2% 10%;
}

.title-1 {
color: white;
font-size: 3.5rem;
}

.title-1 label {
color: #ff661d;
}

.game-board {
display: inline-block;
width: 50%;
}

.game-board .item {
background-color: black;
width: 32%;
float: left;
height: 10vh;
padding: 5% 0;
text-align: center;
border: 0.5px solid white;
border-radius: 5%;
margin: 1% 1% 1% 0;
font-size: 4rem;
font-weight: bold;
}

.item.clicked {
background-color: #ff661d !important;
color: white;
}

footer {
text-align: center;
color: grey;
}